<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/ring.png" />
    <title>Quiz of The Lord of The Rings</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body class="grid-container">
    <header>
      <section class="text">
        <h2>The Lord of The Rings</h2>
      </section>
      <div class="dropdown">
        <img
          onclick="myFunction()"
          class="dropbtn"
          src="/assets/ring.png"
          alt=""
        />
        <div id="myDropdown" class="dropdown-content">
          <a href="/">Home</a>
          <a href="/LOTR">THE ONE</a>
          <a href="#">Fifa</a>
          <a href="#">Fortnite</a>
          <a href="#">LegoMasters</a>
          <a href="#">Magic The Gathering</a>
          <a href="#">Nationale Bank (NBB)</a>
          <a href="#">Contact</a>
        </div>
      </div>
    </header>
    <nav class="submenu">
      <ul class="sidenav">
        <li><a href="/LOTR">quiz</a></li>
        <li><a href="/blacklist">blacklist</a></li>
        <li><a href="/favorites">favorite</a></li>
        <li><a href="/highscore">highscore</a></li>
      </ul>
    </nav>
  </body>
</html>
