<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="\assets\favicon.ico" />
    <title>IT projects</title>
    <link href="css/landingStyle.css" rel="stylesheet">
</head>
<body>
    <header>
        <div id="home_col">
            <h1>IT-project landing-page</h1>
            <h3>Welkom op de IT-project pagina</h2>
            <a id="btn" href="#projecten">Kies een project</a>
        </div>
    </header>
    <main>
        <div id="titel">
        <h2>Projecten</h2>
        <h3>Kies je project</h3>
        </div>
        <section id="projecten">
            <div class="flex-grid">
                <a href="/error">
                    <article class="col" id="nbb_col">
                        <img src="assets/img/download (1).png">
                        <h4><strong>Nationale Bank</strong></h4>
                        <p class="col_tekst">In dit project maken we een tool om twee vennootschappen met elkaar te vergelijken. Elke belgische vennootschap moet bij de Nationale Bank van België een jaarrekening neerleggen, en die wordt dan vergeleken met elkaar.</p>
                    </article>
                </a>
                <a href="error">
                    <article class="col" id="magic_col">
                        <img src="assets/img/MagicLogo.png">
                        <h4><strong>Magic The Gathering</strong></h4>
                        <p class="col_tekst">Magic The Gathering is een ruilkaartspel. Het spel vindt zijn basis in het fantasygenre uit de traditionele roleplayinggames. In het spel is het de bedoeling dat je uw deck beter maakt.</p>
                    </article>
                </a>
                <a href="LOTR">
                    <article class="col" id="lotr_col">
                        <img src="assets/img/lotr.png">
                        <h4><strong>The One</strong></h4>
                        <p class="col_tekst">In The One krijg je een quiz te zien die je kennis test over de bekende quotes die in de filmreeks genoemd wordt. Het is aan jou om te raden welke personage het heeft gezegd en in welke film in de filmreeks het voorkwam.</p>
                    </article>
                </a>
            </div>
            <div class="flex-grid">
                <a href="error">
                    <article class="col" id="fifa_col">
                        <img src="assets/img/fifa-generic.png">
                        <h4><strong>Fifa</strong></h4>
                        <p class="col_tekst">In Fifa word je voetbal kennis getest door een quiz waar je verschillende embleems te zien krijgt, je krijgt vier clubnamen te zien waarvan je de juiste moet kiezen. Naast de clubs wordt je kennis van leagues ook getest. </p>
                    </article>
                </a>
                <a href="error">
                    <article class="col" id="lego_col">
                        <img src="assets/img/lego.png">
                        <h4><strong>LegoMasters</strong></h4>
                        <p class="col_tekst">LegoMasters is een spel waar het jouw taak is om de Minifigs te ordenen en in de correcte set te steken. De uiteindelijke doel is om een overzicht te krijgen van alle Minifigs in hun passende sets.</p>
                    </article>
                </a>
                <a href="error">
                    <article class="col" id="fortnite_col">
                        <img src="assets/img/fortnite-logo.jpg">
                        <h4><strong>Fortnite</strong></h4>
                        <p class="col_tekst">Fortnite is een bekende free-to-play battle royaal spel waar je met je custom character kan spelen. Het doel van dit project is om je eigen character te maken volledig met pickaxe en outfit.</p>
                    </article>
                </a>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>