<%- include('./partials/header'); %>
<main>
  <h2 class="titel">choose your quiz</h2>
  <section class="allQuiz">
    <article class="item e6">
      <a href="/LOTR/1" alt="de start van de 10 rounds">
        <img src="/assets/gollum.webp" alt="is de golum" />
        <section class="text6">
          <h3 class="titel">10 rounds</h3>
          <p class="description">
            Per goede combinatie 1 punt, als 1 stukje juist is 0,5 Na 10 vragen
            stopt het spel en komt de eindscore op het scherm Je krijgt ook te
            zien wat de high score was denk jij dat je het brein er voor hebt?
          </p>
        </section>
      </a>
    </article>
    <article class="item e6">
      <a href="/LOTR/2" alt="de start van de Sudden Death ">
        <img src="/assets/2.jpg" alt="is de golum" />
        <section class="text6">
          <h3 class="titel">Sudden Death</h3>
          <p class="description">
            Per goede combinatie 1 punt Bij een fout (half)antwoord krijg je te
            zien hoeveel er na elkaar goed waren Je krijgt ook te zien wat de
            high score was
          </p>
        </section>
      </a>
    </article>
  </section>
</main>
<%- include('./partials/footer'); %>
