@font-face {
  src: url(/fonts/RINGM___.TTF);
  font-family: Lord;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lord;
}
body {
  margin: 0;
  height: 100vh;
  width: auto;
  background-image: url("../assets/map_middle_earth.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  margin: 0;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
/*header*/
header {
  grid-area: header;
  float: left;
  width: 100%;
  top: 0;
  height: 15rem;
  background-color: black;
}

.text h2 {
  float: left;
  color: rgb(124, 124, 12);

  padding: 1.5rem 0rem 1rem 1vw;
  font-size: 7vw;
  font-family: Lord;
  text-align: center;
}
/*hearder dropdown*/
.dropbtn {
  border-radius: 70%;
  border: none;
  color: rgb(124, 124, 12);
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  box-shadow: 5px 5px 50px 29px rgb(241, 209, 26);
  background-color: rgba(241, 209, 26, 0.8);
}

.dropdown {
  float: right;
  margin: 4.5rem 3rem 3rem 0rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  
  background-color: rgba(49, 43, 43, 0.8); 
  box-shadow: 0px 0px 25px 0px rgb(241, 209, 26);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(124, 124, 12);
  font-weight: 700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: rgba(49, 43, 43, 0.9); 
}
.show {
  display: block;
}
/*main*/
main {
  grid-area: main;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin: 0 auto;
}
/*submenu */
.submenu{
  grid-area: nav;
  top: 15rem;
  width: 100%;
  background-color: #333;
}
.submenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.submenu li {
  float: left;
}

.submenu li a {
  display: block;
  color: white;
  text-align: center;
  padding:1rem;

  font-size: 2rem;
  text-decoration: none;
}

.submenu li a:hover{
  background-color: #111;
  color: rgb(241, 209, 26);;
}

main h2 {
  font-size: 3rem;
  text-align: center;
}
.allQuiz {
  display: flex;
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3.5rem;
}

/*algemeene footer*/
footer {
  grid-area: footer;
  font-family: Lord;
  width: 100%;
  position:initial;
  bottom: 0;
  height: auto;
  color: rgb(131, 133, 42);
  background-color: rgb(47, 47, 58);
  padding: 2rem;
}
/*het efect van de img*/
.item {
  max-width: 35rem;
  min-width: 20rem;
  
  overflow: hidden;
  position: relative;
}
.item img {
  max-width: 100%;
  width: 30rem;
  max-height: 40rem;
  display: block;
  transition: all 0.5s ease;
  border-radius: 5rem;
}
/* effect 6 */
.text6 {
  font-family: Lord;
  font-size: 1.5rem;
  color: rgb(131, 131, 18);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2rem;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.e6:hover .text6 {
  position: absolute;
  bottom: 0;
  opacity: 1;
  background: rgba(49, 43, 43, 0.6);
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.titel{
  padding: 1rem 1rem 1rem 0rem;
}
/*alles over quiz 1*/
.quiz1 {
  width: 100%;
  height: 40rem;
  margin: 3%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: brown;
  border-radius: 5rem;
}

.TienRonden, .SuddenDeath{
  margin: 1rem;
  height: auto;
  background-color: rgba(146, 134, 39, 0.8);
  padding: 30px 20px 30px 40px;
  border-radius: 5rem;
}
.vraag{
  font-size: 1.8rem;
}
.test {
  width: 70vw;
  border: 5rem;
  margin: 10px;
}
.test:hover{
  width: 30rem;
  background-color: rgb(189, 173, 48);
  border-radius: 5rem;
}
#submit{
  width: 100%;
  height: 3rem;
  color: red;
}

/*blacklist pagina*/

.blacklist_section, .favorites_section, .highscore_section, .quiz_section{
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  min-height: 44rem;
  min-width: 60%;
  
}
.blacklist{
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(53, 55, 55);
  width: auto;
  min-height: auto;
}
.blacklist-table th, .blacklist-table td {
  width: auto;
  text-overflow: ellipsis;
  padding: 1rem;
  text-align: left;
}

/*favorites pagina*/
.favorites{
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(53, 55, 55);
  width: auto;
  min-height: auto;
}
.favorites-table, .blacklist-table{
  width: 100%;
}
.favorites-table th, .favorites-table td {
  width: auto;
  text-overflow: ellipsis;
  padding: 1rem;
  text-align: left;
}

@media screen and (max-width: 700px) {
  
  main{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .submenu li {
    float: none;
  }
  .text6 {
    font-size: 1rem;
  }

  .blacklist_section, .favorites_section, .highscore_section, .quiz_section{
    margin: 0;
    padding: 0;
  }

  .blacklist .favorites{ 
    margin: 0;
  }
}